script.txt
vistas/Reporte/reporte.html
vistas/Reporte/reporte.png
controladores/__pycache__/
pruebas/__pycache__/
vistas/__pycache__/
__pycache__/
venv/
ui/
TODO
target/
target_tmp/
src/**/**.pyo
*.DS_Store