
table, th, td {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-collapse: collapse;
}

th, td{
	text-align: center;
}

tr:nth-child(odd) {
	background-color: #dcd7d1;
}

tr:nth-child(even) {
	background-color: white;
}

.colored-background {
	background-color: #dcd7d1;
}

.no-colored-background {
	background-color: white;
}

.center-text {
	text-align: center;
}

.new-table {
	margin: 2px;
}

.top-row {
	border-top: 1px solid black;	
}

.logo-reporte {
	max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

.reporte-header{
	width: 100%;
	overflow: hidden;
	display:flex;
    align-items: center;
    justify-content: center;
}

.div-foto {
	float: left;
	width: 40%;
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.div-titulo {
	float: left;
	width: 60%;
	position: relative;
}


@media screen and (min-width: 480px) {
	.new-table {
		margin-top: 5px;
	}

	.table-BUTT {
		float: left;
		width: 100%;
	}

	.table-PSQI {
		float: left;
		width: 100%;
	}

	.table-pruebas {
		width: 100%;
	}

	.fill {
	    width: 100%;
	}

	.grafica {
		float: left;
		width: 100%;
	}

	.div-titulo h1 {
		font-size: 1.5em;	
	}
}


@media screen and (min-width: 1024px) {
	.new-table {
		margin-top: 5px;
	}

	.table-BUTT {
		float: left;
		width: 55%;
	}

	.table-PSQI {
		float: left;
		width: 45%;
	}

	.table-pruebas {
		float: left;
		width: 50%;
	}

	.fill {
		float: left;
	    width: 50%;
	}

	.grafica {
		float: left;
		width: 100%;
	}

	.div-titulo h1 {
		font-size: 2em;	
	}
/*
	.div-foto {
		float: left;
		width: 20%;
		display: flex;
	    justify-content: center;
	    align-items: center;
	    overflow: hidden
	}
*/
}


@media print and (color) {
   * {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
   }

   .fill{
   		float: left;
   		width: 75%;
   }

   .table-pruebas {
   		float: left;
		width: 20%;
	}

   .grafica {
   		float: left;
   		width: 100%;
   }

   .table-BUTT {
		float: left;
		width: 55%;
	}

	.table-PSQI {
		float: left;
		width: 45%;
	}

	.div-foto {
		float: left;
		width: 20%;
		display: flex;
	    justify-content: center;
	    align-items: center;
	    overflow: hidden
	}

	.div-titulo {
		float: left;
		width: 75%;
		position: relative;
	}

	h1 {
		font-size: 1.5em;
	}
}

@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}