
table, th, td {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-collapse: collapse;
}

th, td{
	text-align: center;
}

tr:nth-child(odd) {
	background-color: #dcd7d1;
}

tr:nth-child(even) {
	background-color: white;
}

.colored-background {
	background-color: #dcd7d1;
}

.no-colored-background {
	background-color: white;
}

.center-text {
	text-align: center;
}

.new-table {
	margin: 2px;
}

.top-row {
	border-top: 1px solid black;	
}

.table-PSQI, .table-BUTT {
	float: left;
	width: 50%;
}

.table-pruebas {
	float: left;
	width: 20%;
}

.table-graph {
	float: left;
	width: 80%;
}

@media print and (color) {
   * {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
   }
}